<footer class="footer bg-light mt-auto py-3">
  <div class="container">
    <div class="row">
      <!-- Företagsinformation -->
      <div class="col-md-4">
        <h5>Lindas Bud & Åkeri</h5>
        <ul class="list-unstyled">
          <li><a href="#">Medvetenhet om bedrägerier</a></li>
          <li><a href="#">Juridiskt meddelande</a></li>
          <li><a href="#">Användningsvillkor</a></li>
          <li><a href="#">Sekretessmeddelande</a></li>
          <li><a href="#">Tvistlösning</a></li>
          <li><a href="#">Ytterligare information</a></li>
          <li><a href="#">Cookieinställningar</a></li>
        </ul>
      </div>
      <!-- Sociala medier -->
      <div class="col-md-4">
        <h5>Följ oss</h5>
        <a href="#" class="text-dark mr-2"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#" class="text-dark mr-2"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#" class="text-dark mr-2"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#" class="text-dark mr-2"><i class="fab fa-youtube fa-2x"></i></a>
      </div>
      <!-- Upphovsrätt -->
      <div class="col-md-4 text-right">
        <p class="mb-0">© 2024 Lindas Bud & Åkeri - All rights reserved</p>
        <p class="mb-0"><a href="{{ url_for('contact') }}" class="text-muted">Kontakt</a></p>
      </div>
    </div>
  </div>
</footer>
