{% extends "base.html" %}

{% block title %}Statistik - Lindas Bud & Åkeri{% endblock %}

{% block content %}
<h1>Statistik</h1>

<h2>Levererade Paket</h2>
<table class="table table-bordered">
  <tr>
    <th>Medelvikt</th>
    <td>{{ stats.delivered_weight_mean }}</td>
  </tr>
  <tr>
    <th>Viktvarians</th>
    <td>{{ stats.delivered_weight_variance }}</td>
  </tr>
  <tr>
    <th>Viktstandardavvikelse</th>
    <td>{{ stats.delivered_weight_std }}</td>
  </tr>
  <tr>
    <th>Medelförtjänst</th>
    <td>{{ stats.delivered_profit_mean }}</td>
  </tr>
  <tr>
    <th>Förtjänstvarians</th>
    <td>{{ stats.delivered_profit_variance }}</td>
  </tr>
  <tr>
    <th>Förtjänststandardavvikelse</th>
    <td>{{ stats.delivered_profit_std }}</td>
  </tr>
</table>

<h2>Paket kvar i lager</h2>
<table class="table table-bordered">
  <tr>
    <th>Medelvikt</th>
    <td>{{ stats.undelivered_weight_mean }}</td>
  </tr>
  <tr>
    <th>Viktvarians</th>
    <td>{{ stats.undelivered_weight_variance }}</td>
  </tr>
  <tr>
    <th>Viktstandardavvikelse</th>
    <td>{{ stats.undelivered_weight_std }}</td>
  </tr>
  <tr>
    <th>Medelförtjänst</th>
    <td>{{ stats.undelivered_profit_mean }}</td>
  </tr>
  <tr>
    <th>Förtjänstvarians</th>
    <td>{{ stats.undelivered_profit_variance }}</td>
  </tr>
  <tr>
    <th>Förtjänststandardavvikelse</th>
    <td>{{ stats.undelivered_profit_std }}</td>
  </tr>
</table>

<h2>Histogram</h2>
<div class="row">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='weight_histogram.png') }}" alt="Vikthistogram" class="img-fluid">
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='profit_histogram.png') }}" alt="Förtjänsthistogram" class="img-fluid">
  </div>
</div>

<p><a class="btn btn-primary mt-3" href="{{ url_for('index') }}">Tillbaka till startsidan</a></p>
{% endblock %}
